<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<conversionRule conversionWord="masking" converterClass="dev.logging.logback.SensitiveDataConverter" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level - %masking(%msg)%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>