<configuration>
    <conversionRule conversionWord="maskedMsg" converterClass="dev.logging.logback.SensitiveDataConverter" />

    <turboFilter class="com.mycompany.log.SecurityMarkingFilter" />

    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>logType</key>
            <defaultValue>GENERAL</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${logType}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>logs/${logType}.log</file>
                <encoder>
                    <pattern>%d{HH:mm:ss} [%thread] %-5level - %maskedMsg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level - %maskedMsg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="SIFT" />
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>